<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:white-space="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://staff.bootcss.com/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://staff.bootcss.com/npm/handlebars@3.0.3/dist/handlebars.min.js"></script>


</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container-fluid">
            <div class="panel-footer">
                <div class="navbar-form navbar-center">
                    <span>Copyright &copy; <a>TestPlatform测试平台管理系统</a></span>&nbsp; &nbsp; &nbsp;  |&nbsp;&nbsp; &nbsp; &nbsp;
                    <span>苏ICP备19026404号</span>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>