<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!-- Bootstrap核心样式 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div>
    <div th:fragment="nav">
        <nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0; border: 0">
            <div class="container">
                <!-- 导航头部 -->
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"></a>
                </div>
                <!-- 导航链接 -->
                    <div class="navbar-form navbar-left">
                    <!-- 默认的导航 -->
                    <div class="form-group">
                        <a th:href="@{/}">首页</a>
                        <a th:href="@{/listpage(pagenum=1)}">Bug管理页面</a>
                        <a th:href="@{/findAllTask}">Case管理页面</a>
                        <a th:href="@{/findAllApi}">API测试用例自动生成</a>
                        <a th:href="@{/underBuild}">继续build中的功能</a>
                        <a th:href="@{/news}">关于我们</a>
                    </div>
                    <div class="navbar-form navbar-right">
                        <div class="form-group">
                            <a class="btn btn-danger" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>
                            <a class="btn btn-success" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
                            <a class="btn btn-success" th:href="@{/register}" th:unless="${#httpServletRequest.remoteUser}">注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>