<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>更新Bug页面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{header :: nav}"></div>
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bug管理系统</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">修改Bug详细信息</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table border="1" class="table table-striped table-bordered table-hover">
                            <form th:action="@{/Update}" method="post">
                                <input type="hidden" name="id" th:value="${bug.id}"/>
                                <tr>
                                    <td>项目名称</td>
                                    <td>


                                        <select name="pname" th:value="${bug.pname}">
                                            <option th:each="projects:${projects}" th:value="${projects.pid}"
                                                    th:text="${projects.pname}"
                                                    th:selected="${bug.pname}==${projects.pname}"></option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <td>CR类型</td>
                                    <td>
                                        <select name="crname" th:value="${bug.crname}">
                                            <option th:each="crtype:${crtype}" th:value="${crtype.id}"
                                                    th:text="${crtype.name}"
                                                    th:selected="${bug.crname}==${crtype.name}"></option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <td>CR编号</td>
                                    <td><input maxlength="10" type="text" name="crnum" th:value="${bug.crnum}"></td>
                                </tr>
                                <tr>
                                    <td>TASK编号</td>
                                    <td><input maxlength="10" type="text" name="tasknum" th:value="${bug.tasknum}"></td>
                                </tr>
                                <tr>
                                    <td>测试类型</td>
                                    <td>


                                        <select name="oname">
                                            <option th:each="testType:${testType}" th:value="${testType.id}"
                                                    th:text="${testType.name}"
                                                    th:selected="${bug.oname}==${testType.name}"></option>
                                        </select></td>


                                </tr>
                                <tr>
                                    <td>bug类型</td>
                                    <td>


                                        <select name="bugStatus">
                                            <option th:each="bugStatus:${bugStatuslist}" th:value="${bugStatus.bugid}"
                                                    th:text="${bugStatus.bugStatus}"
                                                    th:selected="${bug.bugStatus}==${bugStatus.bugStatus}"></option>
                                        </select></td>


                                </tr>
                                <tr>
                                    <td>测试人员</td>
                                    <td>
                                        <select name="tester">
                                            <option th:each="testers:${testers}" th:value="${testers.eid}"
                                                    th:text="${testers.ename}"
                                                    th:selected="${bug.tester}==${testers.ename}"></option>
                                        </select></td>
                                    </td></tr>
                                <tr>
                                    <td>开发人员</td>
                                    <td>
                                        <select name="developer" th:value="${bug.developer}" selected="selected">
                                            <option th:each="developers:${developers}" th:value="${developers.eid}"
                                                    th:text="${developers.ename}"
                                                    th:selected="${bug.developer}==${developers.ename}"></option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <td>简单描述</td>
                                    <td><input maxlength="40" type="text" name="description"
                                               th:value="${bug.description}"
                                               style="margin: 0px; width: 400px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3">详细描述</td>
                                    <td><textarea onfocus=this.blur() rows="5" cols="20" th:text="${bug.rca}"
                                                  style="margin: 0px; width: 1000px;"></textarea></td>
                                </tr>
                                <tr>
                                    <td><input type="text" th:value="${bugtracking}" disabled="disabled" style="margin: 0px; width: 1000px;"></td>
                                </tr>
                                <tr>
                                    <td><textarea rows="10" cols="20" name="rca"
                                                  style="margin: 0px; width: 1000px;"></textarea></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">解决方案</td>
                                    <td><textarea onfocus=this.blur() rows="5" cols="20" th:text="${bug.solution}"
                                                  style="margin: 0px; width: 1000px;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="tracking" th:value="${bugtracking}"  style="margin: 0px; width: 1000px;"></td>
                                </tr>
                                <tr>
                                    <td><textarea rows="10" cols="20" name="solution"
                                                  style="margin: 0px; width: 1000px;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="submit" value="确认修改" class="btn btn-info"></td>
                                    <td><a th:href="@{/listpage(pageon=1)}" input="button" class="btn btn-info">回到首页</a>
                                    </td>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>
</body>
</html>

