<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:white-space="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>查看Bug信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <style type="text/css">
        .wordtoolong {
            width: 300px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .wordtoolong:hover {
            width: 300px;
            display: inline-block;
            white-space: normal;
            overflow: auto;
        }
    </style>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div th:insert="~{header :: nav}"></div>
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bug管理系统</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bug列表
                        <a th:href="@{/insert}" input="button"
                           class="btn btn-danger">新增Bug</a></h3>
                </div>
                <div class="panel-body">
                    <div>
                        <table border="1" class="table table-striped table-bordered table-hover">
                            <form th:action="@{/listpage}" method="post">

                                <tr>
                                    <td>项目名称</td>
                                    <td>


                                        <select name="pid">
                                            <option value="0" text="请选择..."></option>
                                            <option th:each="p:${projects}" th:value="${p.pid}"
                                                    th:text="${p.pname}"
                                                    th:selected="${pid}==${p.pid}">

                                            </option>
                                        </select></td>

                                    <td>CR编号</td>
                                    <td>

                                        <input maxlength="20" type="text" name="crnum" th:value="${crnum}" autocomplete="off"></td>


                                    <td>Task编号</td>
                                    <td><input maxlength="20" type="text" name="tasknum" th:value="${tasknum}"autocomplete="off"></td>
                                </tr>
                                <tr>

                                    <td>测试人员</td>
                                    <td>
                                        <select name="testid">
                                            <option value="0" text="请选择..."></option>
                                            <option th:each="testers:${testers}" th:value="${testers.eid}"
                                                    th:text="${testers.ename}"
                                                    th:selected="${testid}==${testers.eid}"></option>
                                        </select></td>


                                    </td>
                                    <td>开发人员</td>
                                    <td>


                                        <select name="devid">
                                            <option value="0" text="请选择..."></option>
                                            <option th:each="developers:${developers}" th:value="${developers.eid}"
                                                    th:text="${developers.ename}"
                                                    th:selected="${devid}==${developers.eid}"></option>
                                        </select></td>
                                    <td>
                                        请选择条件
                                    </td>
                                    <td>

                                        <a><input type="submit" value="点击查询" class="btn btn-info"></a>

                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
            <div></div>
            <div class="table-responsive">
                <div class="row"></div>
                <div class="row"></div>
                <table class="table table-striped table-bordered table-hover">
                    <tr border="1" display="inline-block">
                        <th>客户名称</th>
                        <th>CR编号</th>
                        <th>Task编号</th>
                        <th>测试人员</th>
                        <th>开发人员</th>
                        <th>【简单描述】涉及的接口或存储过程名称</th>
                        <th>Bug状态</th>
                        <th>操作按钮</th>
                    </tr>
                    <tr th:each="bug:${list}" display="inline-block">
                        <td th:text="${bug.pname}"></td>
                        <td th:text="${bug.crnum}"></td>
                        <td th:text="${bug.tasknum}"></td>
                        <td th:text="${bug.tester}"></td>
                        <td th:text="${bug.developer}"></td>
                        <td>
                            <div class="wordtoolong" th:text="${bug.description}"></div>
                        </td>
                        <td th:text="${bug.bugStatus}"></td>

                        <td th:switch="${userflag}">
                            <a th:case="1"><a th:href="@{/findByIdpage(BugListId=${bug.id})}" input="button"
                                            class="btn btn-info">查看</a>
                            <a th:href="@{/del(BugListId=${bug.id})}" input="button" class="btn btn-danger"
                               onclick="alert('删除')">删除</a></a>
                            <a th:case="0" th:href="@{/findByIdpage(BugListId=${bug.id})}" input="button"
                                              class="btn btn-info">查看详情</a>
                        </td>
                    </tr>
                </table>

                <div align="right" th:include="page :: page" url="/bug/listpage"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>

</body>
</html>